[2019-01-31 00:13] gaearon opened #1 "Decide on subdomain"
Should it be `ja` (lang code) or `jp` (country)?

[2019-01-31 03:33] smikitky commented on #1
As far as Japanese is concerned, they are almost the same, and whichever is fine to me. Perhaps Chinese and Portuguese people have some opinions.

[2019-01-31 03:46] smikitky commented on #1
On second thought, perhaps we should follow the convention of Wikipedia and primarily use the language-based subdomain. We can use country code only when necessary, i.e., `ja`, `zh-ch`, `zh-tw`.

[2019-01-31 04:06] tesseralis opened #2 "Translate glossary"

[2019-01-31 04:11] imbsky commented on #1
In general, it should be `ja`.

[2019-01-31 04:31] smikitky commented on #2
In fact, I wasn't aware of the JTF guideline until yesterday. Looks like JTF has two rules that clearly conflicts with Vue's rule (I prefer Vue's rule, though):

[2019-01-31 04:38] potato4d commented on #2
The reason for conflicts is that the Vue Community has customized the rules.

And that is described in this part of the document.

https://github.com/vuejs/jp.vuejs.org/blob/lang-ja/CONTRIBUTING.md#%E7%BF%BB%E8%A8%B3%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB

I also think that Vue's style is desirable, so I would like to incorporate it.

@smikitky
I will submit a Pull Request to add CONTRIBUTING.md toni

[2019-01-31 04:40] tesseralis commented on #2
We should start a "style guide" page in the wiki with what we decide, even if it's just "use the same rules as vue".

[2019-01-31 04:51] smikitky commented on #2
Okay, I think we can use textlint and that `.textlintrc`.

@potato4d I feel Japanese-specific style rules (e.g. 長音符) should live on Wiki rather than `CONTRIBUTIONG.md`, as @tesseralis suggests?

[2019-01-31 04:53] tesseralis commented on #2
My main concern is that the repo should reflect the main react one as much as possible (e.g. we might want to copy over that version of CONTRIBUTING.md) in the future. Also we're still in the early stages and deciding what rules we want to follow so it makes more sense to keep it in a wiki.

[2019-01-31 04:56] tesseralis commented on #2
Ooh textlint is cool. I can recommend that to the other translations as well and maybe the english version as well hehe...

[2019-01-31 06:56] smikitky commented on #2
For the meantime, let me use this translation for "boxed" text:

- Tip → ヒント
- Note → 補足
- Warning → 警告

[2019-01-31 08:17] smikitky opened #3 "Decide on translation of some terms"
While `reference-glossary.md` is helpful, translators need to agree on words that are commonly used throughout the document but are less React-specific. Let me continue this in Japanese.

----

1年半ほど前に書いた[React日本語版ドキュメント翻訳者用メモ]( https://gist.github.com/smikitky/15f1332ec1d820b96159ccb56e6862a3)があり、Crowdinの訳はだいたいそれに基づいているのですが、ちょっと幾つかの用語について不安になってきました。特に新しい人もいらっしゃっているので意見を聞ければと思います。

- imperative co

[2019-01-31 18:31] tesseralis opened #4 "Japanese Translation Progress"
# For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. **Take only one page at a time**.
3. Submit a PR!

Please check the [style guide](https://github.com/reactjs/ja.reactjs.org/blob/master/TRANSLATION.md) and [word list](https://github.com/reactjs/ja.

[2019-01-31 23:01] tesseralis commented on #3
@smikitky I added a TRANSLATION.md fie including a style guide: https://github.com/reactjs/ja.reactjs.org/blob/master/TRANSLATION.md

Feel free to edit with what you decide for these terms.

I'll probably end up creating a TRANSLATION.md page on the English site that will serve as an instruction guide for starting up a new translation project. I'd love your advice on it!

[2019-01-31 23:10] Naturalclar commented on #4
I'd like to work on `Composition vs Inheritance`

[2019-01-31 23:22] smikitky commented on #4
@Naturalclar Thank you! Probably you can use the Crowdin's work as a base. We have not established a formal reviewing process, but once you've made a PR, I or someone will take a look.

[2019-01-31 23:44] potato4d commented on #4
As a model of translation, I think I want to work on a tutorial

[2019-01-31 23:47] tesseralis commented on #4
@potato4d have you finished the glossary yet?

[2019-01-31 23:48] potato4d commented on #4
After I finished translating glossary, it was meant as an example of translation of that glossary!

[2019-01-31 23:55] potato4d commented on #1
I think ja is also preferable.

[2019-01-31 23:59] Naturalclar commented on #4
@smikitky Thank you! I've made a [PR](#5) for translation of composition-vs-inheritance based on the translation on Crowdin
#5

[2019-02-01 00:39] tesseralis commented on #4
@smikitky  I think I'll be able to handle the bot myself -- we'll probably end up forking che-tsumi so it'll be easier to customize. @potato4d I would still like your help though -- I'll ask you some questions in email :)

[2019-02-01 00:55] smikitky commented on #4
For now,

- Please do NOT modify link URLs in the original markdown even if there is a Japanese equivalent (using the Japanese version of an MDN/Wikipedia article, etc)
- Please do NOT worry about anchor names, just translate the heading text (reactjs/reactjs.org#1608)

[2019-02-01 00:57] tesseralis commented on #4
@smikitky I think you can edit my issue with these additional notifications.

Why shouldn't we translate the external links? I'm curious because someone on the Spanish translation team was asking.

[2019-02-01 01:04] tesseralis commented on #4
I don't think so... It depends on whether those links exist / are high quality in each language, right? Like, Japanese Wiki might have a good article on "declarative programming" but maybe Russian doesn't?

[2019-02-01 01:06] tesseralis commented on #4
Will think of a way to do general translation guidelines.

[2019-02-01 01:07] tesseralis commented on #4
@potato4d do you have any thoughts from your experience with vue?

[2019-02-01 01:13] potato4d commented on #2
@tesseralis @smikitky

React thinks that it is better to make CONTRIBUTING.md of React.
Then, let's merge it with the one of @smikitky's gist, incorporating Vue's example as an example!

[2019-02-01 01:15] tesseralis commented on #2
@potato4d @smikitky @koba04 I added a TRANSLATION.md file to each of the forks to serve as a general language guideline.

[2019-02-01 01:16] smikitky commented on #4
This is something we have to eventually discuss in the main repo. But React doc currently has literally hundreds of English-only external links (to Stack Overflow questions, YouTube videos, personal blog articles, etc), which is atypical as the official documentation of a large library. I feel changing only a small part of them on an ad-hoc basis might not be a manageable option at least in the sh

[2019-02-01 01:23] tesseralis commented on #4
Sure, do you want to leave a comment on the main issue? Or if you want it to just be among translators I created a parent group for the internationalization effort: https://github.com/orgs/reactjs/teams/reactjs-org-internationalization

[2019-02-01 01:30] tesseralis commented on #4
I don't think it's "ad hoc" to have the rule:

"If this link is for technical documentation and there is a high quality translation, link to the translation. Otherwise, keep the original English link."

There are copious links to non-translateable things like YouTube videos and StackOverflow and I think that is a issue to be handled by the English repo writers, but I don't think that should be a b

[2019-02-01 02:03] potato4d commented on #4
@smikitky
Since it seems better to prioritize the setting of Bot, it may be better to ask smikitky for the tutorial.
Could you please?

@tesseralis  @smikitky

In the case of Vue document, when I find a document translated by MDN etc., I am changing the link.

For example, most people reading Japanese documents are Japanese.
And, in most cases the Japanese are seeking Japanese document.

[2019-02-01 02:12] potato4d commented on #4
I just submitted a pull request to introduce TextLint.
If you have an opinion, please comment.

https://github.com/reactjs/ja.reactjs.org/pull/6

[2019-02-01 02:17] smikitky commented on #4
Okay, I'll take care of the tutorial.

[2019-02-01 02:57] Nkzn commented on #4
May I take `Thinking in React` ?

[2019-02-01 02:58] smikitky commented on #4
@Nkzn Yes, please!

[2019-02-01 03:42] lightnet328 commented on #4
May I take `React` and `React.Component`?

[2019-02-01 03:42] potato4d commented on #4
@lightnet328
Yes, please!
thanks!

[2019-02-01 03:55] ossan-engineer commented on #4
Can I take `FAQ` ?

[2019-02-01 03:57] saitoeku3 commented on #4
Could I take `JS Environment Requirements` ?

[2019-02-01 04:02] sakito21 commented on #4
I'd like to work on `Shallow Renderer`

[2019-02-01 04:04] smikitky commented on #4
@saitoeku3 @sakito21 Thank you!

[2019-02-01 04:09] takanorip commented on #4
I have some questions.

1. Why we should check the old translation? I think it is too old.
2. How do we check the quality of the new translation? How is the reviewer determined?

If I shouldn't discuss here, change the place.

[2019-02-01 04:09] superyusuke commented on #4
Home page ってまだ空いてますか？やります。

[2019-02-01 04:30] smikitky commented on #4
@takanorip @superyusuke Thank you for your interest.

1. It depends on the article you're referring to. Some pages are already nearly 100% complete on Crowdin. In addition, the translation there are more or less reviewed with consistency in mind by more than one person, so it's safer to start based on it whenever possible. Still, you can always ignore some (or all) of them if you want.
2. This for

[2019-02-01 04:33] queq1890 commented on #4
May I work on `Test Renderer`? 👀

[2019-02-01 04:35] potato4d commented on #4
@takanorip @superyusuke
(As additional information) see https://github.com/reactjs/ja.reactjs.org/issues/2 and https://github.com/reactjs/ja.reactjs.org/pull/6 and https://github.com/reactjs/ja.reactjs.org/issues/3
If you have an opinion, please comment!

[2019-02-01 04:42] smikitky commented on #4
@ossan-engineer  Sorry for the late reply. よろしくお願いします.
@superyusuke Thank you. ホームページとなると一段厳しくみんなでクオリティチェックされる可能性が高いのでレビューは気長にお付き合いください。
@queq1890 Yes, thank you!

[2019-02-01 04:50] kn3ny commented on #4
Can I take `DOM Elements`?

[2019-02-01 05:01] potato4d opened #7 "Update domain settings in package.json and JavaScript code base"
[low priority]
Domain settings written in package.json etc are left as original documents, so we need to improve.

[2019-02-01 05:31] gotchane commented on #4
May I work on `ReactDOM`?

[2019-02-01 05:35] koba04 commented on #1
I agree with others. It should be language code(ja).

[2019-02-01 06:00] euxn23 commented on #4
May I work on `ReactDOMServer`?

[2019-02-01 06:03] koba04 commented on #3
@smikitky  一点、

reconciliationについてはgistでも言及されていますが、Reactの特徴を表す専門用語に近いものとして扱い、Reactに特化したイメージしやすい訳語を割り当ててもいいのかなと感じました。
ドキュメントでは、主に差分を検出するアルゴリズムのことを指しているため、「差分検出処理」などは如何でしょうか？

この点は同意です。

[2019-02-01 06:09] takanorip commented on #4
@smikitky
Thanks for your answer.
I translate some documents and review other translation for now.

I will translate `Test Utilities`.

[2019-02-01 06:09] smikitky commented on #3
…あ、いや、本当の実更新は ReactDOM などの担当なので reconciler はどんな差分があるかの検出しかしていないということなのかも…

[2019-02-01 06:19] koba04 commented on #3
@smikitky

ですです。
実際に差分を適用するのは、各ホスト環境毎にあるrendererの役割なので、reconcilerはrendererに更新内容を伝えるところが役割と言えると思います。
（厳密には、reconcilerが伝えるのはComponent単位での変更・追加・削除などの単位までで、props単位の比較はそれを受けてrendererが行うのですが、それはまぁ詳細過ぎるので...）

[2019-02-01 06:58] Naturalclar commented on #4
I'd like to work on `Installation` ([getting-started.md](https://github.com/reactjs/ja.reactjs.org/blob/master/content/docs/getting-started.md))

[2019-02-01 08:06] watilde commented on #4
`Contributing` seems to be done p much already on crowdin.

[2019-02-01 08:19] summertree128 commented on #4
May I work on `SyntheticEvent` ?

[2019-02-01 08:37] tesseralis commented on #4
Hi everyone!

I'm simply amazed at the incredible effort you've put in so far. I updated the issue with a stronger guideline on the rest of the sections, as suggested by @gaearon.

@ossan-engineer, the FAQ is composed of multiple sections. Could you start off with one and open up the rest to other people?

[2019-02-01 08:49] uehaj commented on #4
Hi!
May I take "Add React to a Website" ? If there is other parts to be worked, please inform me.

[2019-02-01 08:55] tesseralis commented on #4
@uehaj Could you take one of the "warnings" first? These are the pages that are linked in the console warnings that happen, and they're useful for people to look up!

[2019-02-01 08:56] uehaj commented on #4
I got it! Ill tackle the ones.

[2019-02-01 10:02] kik4 commented on #4
May I take `CDN Links`?

[2019-02-01 10:18] ossan-engineer commented on #4
@tesseralis Sure! I'm starting off with faq-ajax. I'd really aprreciate it if you list and open up other FAQs.

[2019-02-01 11:37] smikitky commented on #4
@summertree128 @uehaj @kik4 Updated the list. よろしくお願いします

[2019-02-01 12:12] ytorii commented on #4
素晴らしい。
一昨年のCrowdInでは作業者が数人しか居なかったけど、今回はこんなにContributeする方々が居るとは！

@smikitky
自分もまた時間作って翻訳に参加させて頂きます。

[2019-02-01 14:07] sato11 commented on #4
Hi everyone!

I'm thrilled to see what's going on here and I'd really like to lend a hand.
Just wondered: @uehaj are you taking the whole `Warnings` section? If it's too much work to be done during this weekend, tell me so I can be of help.

@tesseralis @smikitky
While waiting for his answer, I'm working on `Add React to a Website` part as it seems vacant. Okay with you?

[2019-02-01 14:51] smikitky commented on #4
Added the list of Advanced Guide / Contributing articles you can work on this weekend :)

---
@sato11 Thank you, assigned you to add-react-to-a-website. Each page under `warnings` are relatively small, so one person might handle that.

[2019-02-01 15:32] fsubal commented on #4
May I take `Portals` in Advanced guides ?

[2019-02-01 16:03] smikitky commented on #4
@fsubal 渋いチョイスですねｗ　よろしくお願いします

[2019-02-01 17:09] koba04 opened #17 "Setting up CI and test site"
Currently, CircleCI doesn't run for PRs from fork repositories, so I enabled the setting.
If it doesn't cause any problems, I'd like to require status checks to pass before merging.

In addition to that, Is it helpful to enable deploy preview using Neflify like `reactjs/reactjs.org`?

[2019-02-01 17:16] koba04 commented on #3
@smikitky

 renderingは全てレンダリングではなくレンダーに統一しますか？
その場合、すでにレンダリングが使われているのでどこかのタイミングで一括に変換してtextlintでチェックするのがよさそうですね。そのままだとレンダリングと訳す人が多いと思うので。

[2019-02-01 22:44] smikitky commented on #17
CI for PRs is working very well, so I think requiring the green status is fine.

I know nothing about the official deploying process, but setting up an independent test site on Netlify does not "pollute" the codebase and has no side effects, right?

[2019-02-01 23:02] smikitky commented on #3
render は「いわゆる render() の実行」「DOMへの変換」「ブラウザの描画」のいずれも指していることがあり、個人的には1番目のことだけをレンダーと呼んでおきたい感じです。これに限らず禁止用語のtextlint化はよさそうですね

[2019-02-02 00:21] sato11 commented on #4
So are we stepping into advanced section?
Having finished the draft above I'd like to take `JSX In Depth` part, may I?

[2019-02-02 00:44] smikitky commented on #4
@sato11 Yes, translating Advanced Topics was an extended goal, but since we've already run out of articles in Basics, I think we can move on.

[2019-02-02 00:52] potato4d opened #20 "Create reactjs/textlint-checker-for-react-jp-docs"
I would like to create a repository for the dedicated TextLint rule package "reactjs/textlint-checker-for-react-jp-docs".

That will contribute to improving the quality of future translations.

But, we have other higher priority tasks.
Although this work may not be possible now,let's first write down the rules necessary for this Issue.

[2019-02-02 01:03] smikitky commented on #3
というわけで訳語統一ルールの仮案を作りました。いかがでしょう。

https://github.com/reactjs/ja.reactjs.org/wiki/%E8%A8%B3%E8%AA%9E%E3%81%AE%E7%B5%B1%E4%B8%80

[2019-02-02 02:02] potato4d commented on #3
訳語統一、良さそうですね！
一旦今回の一次翻訳が行われるまでは wiki に逐次追加とし、 TRANSLATION.md からもリンク。今回の翻訳が終わった段階で出てきた追加用語などもまとめた上で、 TRANSLATION.md にコミットするような形でどうでしょう？

[2019-02-02 02:47] smikitky opened #22 "Font issue related to <em>"
In some browser environments, Japanese text surrounded by `<em></em>` does not look different from ordinary text. Technically speaking, this is not a bug but an intended behavior because Japanese fonts has no concept of italics. Still, we need to ensure the text is visually emphasized in some way or another, in all browsers.

- https://www.softel.co.jp/blogs/tech/archives/5673

Possible solutions:

[2019-02-02 04:16] koba04 commented on #17
I've enabled the setting so now passing CircleCI check is required to merge PRs.

Yes, I assume that it only has to create settings on Netlify, which doesn't affect the codebase.
I'll work on that.

[2019-02-02 04:41] smikitky commented on #3
@fsubal childはケースバイケースで補っていいと思います。thisを「この関数」などとするのも同様です。

Contextは迷いますね。個人の好みはコンテクストです（なんかアカデミックな響きがする気がします）が、他の方のご意見を聞きたいです。

[2019-02-02 04:43] smikitky commented on #4
@shooontan Yes, thank you!

[2019-02-02 04:47] fsubal commented on #3
私も最初は無意識に「コンテ *ク* スト」で打ってしまい、crowdin の方が「コンテキスト」になってたので、「コンテクスト」に +1 です

[2019-02-02 05:32] potato4d commented on #3
自分もコンテクストで良いと思います。

そういえば今日のお昼過ぎに翻訳希望者が名乗り出ていましたが Fragment もドキュメントの随所に見られるので決めておきたい気も。特に日本語にするメリットもなさそうなので「フラグメント」あるいは「Fragment」で良いかなという印象です。

[2019-02-02 05:58] tesseralis opened #23 "[Doc]: Typo fix"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/17fdc425bc08a2661359ee63f21f19dc13517ad9

[2019-02-02 05:58] tesseralis opened #24 "[Doc]: Merge pull request #1557 from bvaughn/useDebugValue"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/df240a426d37cbe8c955a4cbce4495f8c52f1274

[2019-02-02 05:58] tesseralis opened #25 "[Doc]: Add ReactBris to meetups"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/dc2deb974b20228fada6bd0a7eac442d46482efb

[2019-02-02 05:58] tesseralis opened #26 "[Doc]: fest: add React Native EU 2019, move React India"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/c89caa08b3cc79bf224d068cbffc04254337b1e6

[2019-02-02 05:58] tesseralis opened #27 "[Doc]: Wordsmithing"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/efcbcc5a58ab88cf67de57eb9ff0c6dc65f0137d

[2019-02-02 05:58] tesseralis opened #28 "[Doc]: Bump alpha"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/024b5b61731f267f3eb911c13fdd36e1a11c9d1e

[2019-02-02 05:58] tesseralis opened #29 "[Doc]: Add note about Promise polyfill for React.lazy"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/165ae047b4d1e419cbe3d2cdedae745c164b5a6f

[2019-02-02 05:58] tesseralis opened #30 "[Doc]: [Hooks] Add recommendations about useMemo and lazy init"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d7d55332780100f9488b6f08a41803c1df8738ea

[2019-02-02 05:58] tesseralis opened #31 "[Doc]: Clarify conflicting advice"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/1a49812370255f92d40e8512cdc95e205aff8864

[2019-02-02 05:58] tesseralis opened #32 "[Doc]: Update meetups.md"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/14346719d4e331487313a53e52b256f986ca6d14

[2019-02-02 05:58] tesseralis opened #33 "[Doc]: Warning page for invalid Hook calls"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/f149987d940cefaa0bce4b3351a8991bfdc1d9c0

[2019-02-02 05:58] tesseralis opened #34 "[Doc]: Add docs for useDebugValue"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/4c29b69558c401648f9e104dbd0dc7ab83e2fe51

[2019-02-02 05:58] tesseralis opened #35 "[Doc]: Merge pull request #1570 from bvaughn/useDebugValue-formatterFn"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/8b333fd528856d611bccc7ad0ac137037471c6c4

[2019-02-02 05:58] tesseralis opened #36 "[Doc]: Merge pull request #1544 from threepointone/master"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/924e76dc1b2b220da423549019c470696d08f9d8

[2019-02-02 05:58] tesseralis opened #37 "[Doc]: Added useDebugValue formatter function"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/0ace70f43da6b4c713bf22d44ed5972692210c9e

[2019-02-02 05:58] tesseralis opened #38 "[Doc]: Added link to Reach Router"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/b38c572939d5cad9cda99dd9514c187b1dc7d807

[2019-02-02 05:58] tesseralis opened #39 "[Doc]: Warn against side effects in useMemo"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/a946fb37831b30451eb147432a9882a48723cb63

[2019-02-02 05:58] tesseralis opened #40 "[Doc]: Tweak useMemo wording"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/9b5638f03453812a1586d67b219a19428e6aa0ee

[2019-02-02 05:58] tesseralis opened #41 "[Doc]: Very important fix"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/f2d22dec00d549d40e3c41306e2aa0fc6a79bc78

[2019-02-02 06:00] #23 closed

[2019-02-02 06:00] #24 closed

[2019-02-02 06:00] #25 closed

[2019-02-02 06:00] #26 closed

[2019-02-02 06:00] #27 closed

[2019-02-02 06:00] #28 closed

[2019-02-02 06:00] #29 closed

[2019-02-02 06:00] #30 closed

[2019-02-02 06:00] #31 closed

[2019-02-02 06:00] #32 closed

[2019-02-02 06:00] #33 closed

[2019-02-02 06:00] #34 closed

[2019-02-02 06:00] #35 closed

[2019-02-02 06:00] #36 closed

[2019-02-02 06:00] #37 closed

[2019-02-02 06:00] #38 closed

[2019-02-02 06:00] #39 closed

[2019-02-02 06:00] #40 closed

[2019-02-02 06:00] #41 closed

[2019-02-02 06:37] smikitky commented on #3
コンテクスト・フラグメントについて記入しました。

コード中内のコメントの翻訳ですが、「基本はやらなくていい、が、（本当は本文に書いたほうがいいほどの）重要な情報が含まれていると感じる場合は、翻訳してもいい」という方針でいいですかね。

[2019-02-02 14:41] locol23 commented on #4
May I take `Context` in Advanced Guides?

[2019-02-02 15:04] smikitky commented on #4
@y-temp4 @atsumine @uenitty @locol23 Thank you, please start translations.

[2019-02-03 00:43] ginpei commented on #4
Hi I'd love to join. Can I take React Without ES6 in Advanced Guides?

[2019-02-03 06:39] uehaj commented on #4
Sorry for late responding and thanks for consideration. I have done whole warnings section.
Textlint is passes the last PR commit.

[2019-02-03 07:57] #2 closed

[2019-02-03 23:51] sasurau4 commented on #3
訳語の統一に載せたほうがよさそうというのが1つあったので取り上げます
RefsはReact用語として「Refs」として英語のままでいいですかね？またreferenceも文脈に合わせて「参照として

[2019-02-03 23:53] hassi32 commented on #4
Hi, can I take React without JSX ?

[2019-02-04 03:45] smikitky commented on #3
key や state と同様、React用語として使っているところは ref でいいと思います。

後 ancestor component/node は「先祖」「祖先」あるいは（意訳して）「上位」あたりが候補になりますが、MDNを眺めた感じ「祖先」がよさそうなのでそちらに統一しようかなーと思っています。

[2019-02-04 04:51] uehaj commented on #4
May I take "Optimizing Performance" ?

[2019-02-04 07:16] smikitky commented on #4
主にレビューでご協力くださっている方へ：

「今からレビューをするぞ」というところで、そのようにコメントで宣言していただくようお願いします。レビューはとても大切ですが、2人が全く同時にレビューすると「同じ指摘が重複して単純に労力の無駄」「コメント量が約2倍になって見づらい」「万一指摘が矛盾していたときに面倒」といったことになりがちですので、まずは1名が宣言した上で全体のレビューをしっかりやるのが効率的だと思います。よろしくお願いします。

CC @koba04 @potato4d @takanorip @sasurau4

（とはいえこんな心配しないといけないのはとても有り難いです）

[2019-02-04 07:31] potato4d commented on #4
Approve は一応個人のオピニオンとして持っておいたほうが安全かなぁという印象がありました。特に件数が増えてくると重複してる部分を見るのが怪しくなりがちなので、誰かのレビュー(というよりその人からのレビュー対応)が落ち着いた頃にやったほうが、作業者の心理的にも優しそうな気がしています

[2019-02-04 08:36] koba04 commented on #4
@smikitky @potato4d なるべく明確にルール化されている方が、レビュイー/レビュアーにとっても安心だと思います。Approve自体は権限なくても示すことが出来るので、下記のフローを繰り返してマージボタンを押せる状態（権限ある人の 2 Approve）になったらマージするのは如何でしょう。

1. レビュアー レビュー宣言
1. レビュアー レビュー
1. 作業者 レビュー対応
1. (2〜3を繰り返し) レビュアー Approve
1. マージの条件を満たした場合はマージ、そうでなければ別のレビュアーが条件を満たすまで1〜4を繰り返す

[2019-02-04 08:46] koba04 commented on #4
レビュー中か示すのは、コメントだと見落としが発生しそうなので、ラベルをつける運用でどうでしょうか？
「in review」というラベルを作ってみました。
レビュー開始時に付与して、レビューが終わった(Approveした)ら外す形で。

[2019-02-04 08:49] smikitky opened #61 "Establish reviewing process"
Now that many people are interested in review and we have many active PRs, we should establish a written rule regarding the review process.

- Who will take responsibility in the initial review process?
- When a maintainer (@koba04 @potato4d @koba04) can decide to merge?

[2019-02-04 08:49] smikitky commented on #4
とりあえず #61 に移動して続けましょう…

[2019-02-04 08:54] smikitky commented on #61
個人的にはファーストラウンドが終わったらあとは同時平行になっても大丈夫かなと思います。

ラベルについては、"in review" だと曖昧すぎるので "in initial review" / "initial review underway" / "初回レビュー中" あたりでどうでしょう。

1. 初回レビュアーが宣言
2. 初回レビュアーレビュー（数時間以内には終えること）
3. 作業者レビュー対応
4. 1～3までは守る（ただし個々の細かいツッコミは誰でも適宜OK）が、初回レビューラウンドが終わったら後は誰でも同時にレビューOK、approve 権限がある（＝リポジトリにwriteアクセスがある）日本語話者（ @koba04 @potato4d @smikitky の3名）のうち 2 名の approve によりマージ

[2019-02-04 09:47] sasurau4 commented on #61
@smikitky
`in initial review` / `initial review underway` / `初回レビュー中` のラベルは1-3の間はずっと付いていて、4に入ったら外すという運用イメージですか？

[2019-02-04 10:06] smikitky commented on #61
@sasurau4 大量の重複したレビューがつくのを防ぐというのが最大の目的ですので、2が終わったらもう外していいかなと思います。

[2019-02-04 14:58] koba04 commented on #61
では、一旦そのような形で運用してみましょうか。
問題が発生したらまたこちらで議論しましょう。

ラベルに関しては、特にこだわりはありませんが、"in initial review"でどうでしょうか。

[2019-02-04 15:06] Naturalclar commented on #4
Could I take `dont-call-proptypes` in the Warnings section?

[2019-02-05 03:04] sasurau4 commented on #61
今気づいたんですが、write権限ないとラベルつけたり剥がしたりできないですね...
https://help.github.com/articles/repository-permission-levels-for-an-organization/

[2019-02-05 04:35] smikitky commented on #61
はい、現時点では @potato4d @koba04 @smikitky のみが write 権限の所有者です（この3名は管理権限もあります）。管理権限なしで write access を付与することも可能ですが、今のところはこの3人で大丈夫そうな気がしています。

[2019-02-05 04:59] sasurau4 commented on #61
@smikitky では、レビューより翻訳を進める方で協力していきます 👍

[2019-02-05 08:13] sasurau4 commented on #4
I'll work on ` Rules of Hooks` !

[2019-02-05 08:36] smikitky commented on #4
@sasurau Hooks-related articles are [already translated](https://github.com/smikitky/react-doc-jp-temp/tree/master/content/docs), so could you choose another article?

[2019-02-05 08:39] sasurau4 commented on #4
@smikitky Oh, I misunderstood! 💦
I take `Accessibility` instead.

[2019-02-05 11:48] notherno commented on #4
Hello, could I work on `Strict Mode` on Advanced Guides?

[2019-02-06 01:36] Naturalclar commented on #4
I'd like to work on `Web Components`

[2019-02-06 09:09] reactjs-translation-bot opened #68 "[Merge]: Point to codesandbox and usehooks as community examples"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/f9f0d66272a373d52ea975978c0c3b2b77620bd8

[2019-02-06 09:09] reactjs-translation-bot opened #69 "[Merge]: add warning for invalid hook call"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/e3012392a3107aa47d65029a17d47721205b6db2

[2019-02-06 09:09] reactjs-translation-bot opened #70 "[Merge]: Thanks Sophie"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/ed6e711a83f3f53f834fb5e331632a0dd20c3e95

[2019-02-06 09:09] reactjs-translation-bot opened #71 "[Merge]: Docs updates"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d460a9b106c7b45d1f0168dbbeafb245ccd16cab

[2019-02-06 09:09] reactjs-translation-bot opened #72 "[Merge]: Tweaks"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/e5a987bc60a80ca935f8e11f16b06f2a58215b64

[2019-02-06 09:09] reactjs-translation-bot opened #73 "[Merge]: review tweaks"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/37d46dd8a397512ca3078aa1f320af27f9bf747c

[2019-02-06 09:09] reactjs-translation-bot opened #74 "[Merge]: Revert "add warning for invalid hook call""
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/95258c051661ee21c7f7dd3d9e17c0d3d9eb67b0

[2019-02-06 09:09] reactjs-translation-bot opened #75 "[Merge]: tweaks"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d97cdcac7f3166c753928beb88209f1face6ac01

[2019-02-06 09:09] reactjs-translation-bot opened #76 "[Merge]: Update 2019-02-04-react-v16.8.0.md"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/2fd487e3093319b14c3e031d596ebc4e96a480a8

[2019-02-06 09:09] reactjs-translation-bot opened #77 "[Merge]: Update 2019-02-04-react-v16.8.0.md"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/0d8957026442f2af82190874213d0935685dc42b

[2019-02-06 09:09] reactjs-translation-bot opened #78 "[Merge]: testing"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/601c016f49719819dd74799f0b334e50311c8d88

[2019-02-06 09:11] reactjs-translation-bot opened #79 "[Merge]: Renamed Hooks blog/date"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/30914131e8af651bf464a9380e47d7795b8827b9

[2019-02-06 09:14] reactjs-translation-bot opened #80 "[Merge]: Updated 16.8 CHANGELOG wording to also mention ReactTestRenderer.act()"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/cea45bbbb498d85cf9c1ce615753afd29d20f244

[2019-02-06 16:00] ossan-engineer commented on #4
Hi, can I take `Babel, JSX, and Build Steps` ?

[2019-02-06 20:09] reactjs-translation-bot opened #82 "[Merge]: Merge branch 'update-version-number' of https://github.com/nikhilem/r…"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/845bd4ac04a14c6fd1e9997fd2876d9ffab269f9

[2019-02-06 20:09] reactjs-translation-bot opened #83 "[Merge]: Merge branch 'hooks-stable' of https://github.com/gaearon/reactjs.org…"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/7d897624077dc33cf1040e7c2b33a5d2db095684

[2019-02-06 20:09] reactjs-translation-bot opened #84 "[Merge]: Use 16.8.1"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/8eaa70139f0c1201b4ef9cbf84a94b06eff8f79a

[2019-02-06 20:09] reactjs-translation-bot opened #85 "[Merge]: Merge pull request #1632 from rafaelcg/patch-1"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/e833dfd164f6b9c886ccd805d5b48b83a98abc8a

[2019-02-06 20:09] reactjs-translation-bot opened #86 "[Merge]: Replaced inaccurate comments"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/a0db3e7f1753a33b64e6d9ea52ed9d1b1b8f2887

[2019-02-06 20:09] reactjs-translation-bot opened #87 "[Merge]: Merge pull request #1629 from bvaughn/hooks-stable"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/d468ba1c6ee86f25d7a11a74623801823b2ec318

[2019-02-06 20:09] reactjs-translation-bot opened #88 "[Merge]: react-testing-library now supports `act`"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/f846c4da1b8bd1904c8f862fb2139ddd24450ea5

[2019-02-06 20:09] reactjs-translation-bot opened #89 "[Merge]: Update version number in header and versions page"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/98c1ebeff3ef169d498eb18c91d451d81e617815

[2019-02-06 20:09] reactjs-translation-bot opened #90 "[Merge]: Udpated changelog"
Update to original repo
Original:https://github.com/reactjs/reactjs.org/commit/ee909e5a675babde98711197699402befc043ff4

[2019-02-06 21:56] #68 closed

[2019-02-06 21:56] #69 closed

[2019-02-06 21:56] #70 closed

[2019-02-06 21:56] #71 closed

[2019-02-06 21:56] #72 closed

[2019-02-06 21:56] #73 closed

[2019-02-06 21:56] #74 closed

[2019-02-06 21:56] #75 closed

[2019-02-06 21:56] #76 closed

[2019-02-06 21:56] #77 closed

[2019-02-06 21:56] #78 closed

[2019-02-06 21:56] #79 closed

[2019-02-06 21:56] #80 closed

[2019-02-06 21:56] #82 closed

[2019-02-06 21:56] #83 closed

[2019-02-06 21:56] #84 closed

[2019-02-06 21:56] #85 closed

[2019-02-06 21:56] #86 closed

[2019-02-06 21:56] #87 closed

[2019-02-06 21:56] #88 closed

[2019-02-06 21:56] #89 closed

[2019-02-06 21:56] #90 closed

[2019-02-06 22:07] tesseralis commented on #4
Hi all! I just synced from the original repo and there's some files that need re-translating! (Look for the `<<<<<< HEAD` comments)

https://github.com/reactjs/ja.reactjs.org/pull/91

[2019-02-07 00:45] smikitky commented on #4
#91 で、先週のフォークからの1週間で upstream (本家 reactjs.org) で起きたドキュメントの更新に対応するコミットが大量にマージされます。が、とりあえず翻訳絡みで影響があるのは Test Utils (#57, @takanorip) とフック絡みの各種記事 (@smikitky) のみです。他の方は現在の作業をそのまま続けて問題ありません。よろしくお願いします。

[2019-02-07 00:54] km-tr commented on #4
Can I take `Reconciliation` ?

[2019-02-07 00:57] smikitky commented on #4
@km-tr よろしくお願いします。Crowdinの翻訳をベースにする場合「突き合わせ」という訳語が使われていると思いますが、「更新検出処理」ないし「リコンシリエーション」で行くことになりましたのでご確認願います。
https://github.com/reactjs/ja.reactjs.org/wiki/%E8%A8%B3%E8%AA%9E%E3%81%AE%E7%B5%B1%E4%B8%80

[2019-02-07 16:43] potato4d opened #95 "Improve translation guideline"
@smikitky @koba04

ちょっと翻訳ガイドラインとフローの改善について提案させてください。

- - -

現在、レビュアー↔レビュアー間・ Pull Request 発行者↔レビュアー間での「翻訳改善」についての議論が白熱しがちな傾向にあると思います。

これは、より良いドキュメントを作るためには不可欠であるものの、その一方で「Must to have」と「Nice to have」が分かりづらくなっており、翻訳者としても誰のオピニオンを重要視すべきかという点で負担になってしまっている様子が見受けられます。

この問題を解消するため、以下の二点を提案したいと思います。

## レビューコメントの prefix の必須化

レビューコメントに以下の prefix を必須化したいと思います。

- must: 必ず修正しなければいけない内容
- want: 改善点が見受けられる

[2019-02-07 16:44] #22 closed

[2019-02-07 16:45] potato4d commented on #95
@takanorip
write 権限所有者からは外れますが、比較的多くのドキュメントにレビューいただいているかと思いますので、もし何か案などがあればこちらに追記していただければと思います :pray:

[2019-02-07 16:48] potato4d commented on #95
ファーストレビュー後、追加レビューで議論になることもあると思いますが、そこまで多くはないと思うので、ひとまず prefix 案は「初回レビュアーが一通り must かそれ以外かを判断しきってから進む」という前提の感覚値でいます。

[2019-02-07 16:55] smikitky commented on #95
なんとなく、must は波風立てる悪影響の方が大きい気がします（既に must と明記されたものに反駁した記憶もありますし）。
基本的に、「どうでもいいんだけどこうした方がもうちょっといいのでは」くらいのノリで書いたもので不快感を与えるのがよろしくないようなので、そういう気持ちをちゃんと明示できれば…というのは反省点としてもあります。

[2019-02-07 17:05] takanorip commented on #95
レビュワーが必ず正しいというわけでもなく、どのレビューにも議論の余地があると思うの で`must` は少し押しつけ感が強いかなと思いました。
基本的には翻訳者の
個人的には、 `must` `want` などの言葉ではなく「重要度：1」のような段階で示せたら良いかもと思います。

[2019-02-07 17:27] smikitky commented on #95
翻訳サンプルの件ですが、いわゆる大学受験対策で出てきそうな典型的な物主構文の話などは全員とてもよく対応できているので、これ以上のレベルをとなると例示で示すのは厳しいかもしれません。

（トップページのは例外で、普通なら全く正しい訳を、私が短さやキャッチ―さ優先でニュアンスを切り捨てまくった上に、よく意図を説明しなかったのが原因です）

[2019-02-08 00:32] ossan-engineer commented on #4
Hi, can I take `Passing Functions to Components` ?

[2019-02-08 06:34] smikitky commented on #20
I found that textlint can import locally-defined rules via `--rulesdir` option, so maintaining a separate package may not be necessary.

[code]

And we can put rule files directly under the `textlint` directory.

[2019-02-08 06:50] smikitky opened #97 "Add custom ids to refs-and-dom"
Related #52, #96

Add custom IDs (`## Heading {#my-id}`) to refs-and-the-dom.md manually

[2019-02-08 07:05] #97 closed

[2019-02-08 08:19] smikitky commented on #4
⚠️ 各位、特に現在進行中のPRをお持ちの方 (@uenitty @Naturalclar @sato11 @locol23 @atsumine @takanorip @superyusuke @uehaj @lightnet328)：

reactjs/reactjs.org#1608 と、それに対応する #96 の作業が完了し、すべての見出しに明示的にアンカー名が入るようになりました。以下のようなシンタックスです。これにより、ページ間・ページ内のすべてのリンクがURLを全く変えずに動作するようになります。

[code]

翻訳する時は、アンカー部分はそのまま残して、見出し本文のみを翻訳してください。

[code]

まだ master にマージされていない PR をお持ちの方は、ちょっとしたコンフリクト解決作業をお願いします。ブランチの rebase と force-push によ

[2019-02-08 11:05] koba04 commented on #95
難しいですね...。
Suggestion機能が便利で、カジュアルにSuggestionしてしまっているので、確かに指摘ではなく提案であることをimoとして明示した方がいいかなとは思いました。

[2019-02-08 22:10] tesseralis commented on #4
Excellent work everyone! We're almost done with the core pages!

@lightnet328 @euxn23 how is the progress on your pages? It's been a while, if you are unable to complete those, please let us know so we can reassign those to other people.

[2019-02-09 16:14] Naturalclar commented on #4
I'd like to work on `Styling and CSS`

[2019-02-09 16:22] satotake commented on #4
I would like to translate `Higher-Order Components` section.

[2019-02-09 16:43] Naturalclar commented on #4
I'd like to work on `Static Type Checking`

[2019-02-09 23:06] ginpei commented on #4
I'm going to take Component State in FAQ.

[2019-02-09 23:13] tesseralis commented on #4
I'm going to open up ReactDOMServer since @euxn23 hasn't responded. Would anyone like to take it?

[2019-02-10 01:18] km-tr commented on #4
I'd like to work on `Virtual DOM and Internals`

[2019-02-10 13:29] kik4 commented on #4
May I take `Uncontrolled Components`?

[2019-02-10 19:20] thayashi commented on #4
May I take  `Integrating with Other Libraries`?

[2019-02-11 05:29] smikitky opened #108 "Add textlint rule to detect conflict marker (<<<<<<<<）"
PRs created by our bot can include a conflict marker (`<<<<<<< HEAD`). We should add a textlint plug-in to detect this marker so that the master branch won't contain this marker.

[2019-02-11 05:56] smikitky commented on #4
**お知らせ**　半角スペースにまつわる細かいルールについてお手数をおかけしていましたが、自動でこれらを発見できる（`--fix` による自動修正はまだできない） textlint を #98 で導入しました。[リベース](https://github.com/reactjs/ja.reactjs.org/wiki/Git%E4%BD%9C%E6%A5%AD%E3%81%AE%E3%83%92%E3%83%B3%E3%83%88#rebase-%E3%81%A8-force-push)して取り込んでいただければ作業が少し楽になると思います。よろしくお願いします。

[2019-02-11 07:17] lightnet328 commented on #4
@tesseralis
Sorry for the late reply.
I will continue to translate on another page as well.

[2019-02-11 07:20] syug commented on #4
Hi, can I take `File structure`?

[2019-02-11 13:06] sasurau4 commented on #4
I'd like to work on `ReactDOMServer` :+1:

[2019-02-11 14:11] satotake commented on #4
I am trying `Forwarding Refs`

[2019-02-13 06:33] smikitky commented on #61
翻訳PRをどうマージするかについて。

現状ではGitHubのUI上でsquash-mergeするというルールだと思いますが、これをすると、master側でtextlintのルール変更があった場合に、**マージ後に** master上でCIのエラーが出ることで気付く、ということが起こります。（例 #101)

対策としては以下のようなものが挙がりますが、どうしましょうか。

1. 普通に squash-merge してPRをクローズした後に、メンテナ側でエラーを修正する commit を master に直接 push する（例： aed33921cbcebdbbe3f4d04d393c11ea7d06068d ）
   - 👍 とにかく速くて楽
   - 👎 masterに❌つきコミットが残る
2. PRのマージをローカルのコマンドラインで行い、修正してからpushすることで、エラーが出

[2019-02-13 15:42] 37108 commented on #4
I'd like to work `Versioning Policy`
can I take this?

[2019-02-14 02:04] oimo23 commented on #4
Hi, I'd like to work on `How to Contribute`

[2019-02-14 02:10] hand-dot commented on #4
Hi, Can I take `Design Principles` ?

[2019-02-14 03:05] thayashi commented on #4
May I take `Codebase Overview`?

[2019-02-15 10:32] koba04 commented on #17
@tesseralis 👆 What about this?

[2019-02-16 06:40] #7 closed

[2019-02-16 08:27] potato4d commented on #20
一旦第一段階はできたとして、クローズしておきましょう！
またルールを追加する場合は、個別で！

[2019-02-16 08:27] #20 closed

[2019-02-16 08:50] potato4d commented on #61
`1.` で良いと思います。 `4.` をやってくれる翻訳者は翻訳者側でやってくれるはずなので、意識しないでよいかと思います。
Deno がそんな感じの運用をしているみたいで、良さそうだなーと思ったりしました。

http://hashrock.hatenablog.com/entry/2019/02/04/040505

[2019-02-16 09:06] potato4d opened #125 "Automatically execute Lint before commit with lint-staged and huskey"
## About

翻訳のレビュー開始時に CI のステータスが Failed の状態からはじまることが稀にあります。
多くは TextLint の実行漏れによるもので、 Lint 方法についてはガイドに書かれているものの、貢献者も人間ですので、忘れることがあるかと思います。

対処方法として、 Git の pre-commit フックを利用して特定の NPM Scripts を実行可能な husky と、その実行対象をコミット対象のファイルに限定できる lint-staged を組み合わせて、 Lint にコケるコミットを打てなくする方法を提案したいです。

何度か入れたことがあるので、近い内に例の Pull Request を出しておきます。

## 議論点

### 鬱陶しくないか

個人的には全員が十分に意識できる環境であればノイズとなるだけなのでこれは必要ないと思っています。
し

[2019-02-16 09:08] #108 closed

[2019-02-16 09:20] smikitky commented on #125
いいと思います。やるのは lint:text だけでですか？

[2019-02-16 10:06] potato4d commented on #125
そうですね。 JavaScript のエラーも検出できるのは利点となる一方で、翻訳だけしにきたにも関わらずなにかの都合や環境依存でコケてしまった場合にストレスになると思うので、最小限にしておくとよいかと思っています。

[2019-02-16 11:46] koba04 commented on #61
個人的には今のフローでも特に問題は感じていないですが(SyncのPRのmergeは確かに微妙)、1でも大丈夫です。
`1`の場合、merge後のCIを必ずチェックして対応する必要があるので、モバイルからmergeしずらいなと思ったのですが、approveだけして後でmergeは後からすればいいので大丈夫そうです。

[2019-02-16 18:29] #125 closed

[2019-02-17 06:03] km-tr commented on #4
https://github.com/reactjs/ja.reactjs.org/issues/4#issuecomment-462094876 `Virtual DOM and Internals`
I wanted to translate, but since my work has become busy, can you reassign it to other people?
@smikitky @tesseralis

[2019-02-17 22:42] syug commented on #4
Then, may I take `Virtual DOM and Internals`?

[2019-02-19 23:54] tesseralis commented on #4
@smikitky how goes the tutorial?

Good work everyone! Just a couple more reviews and we're ready to go!

Also, look what @bvaughn set up: https://ja.reactjs.org

[2019-02-20 16:22] koba04 commented on #17
Netlify integration has been enabled so I close this.

[2019-02-20 16:22] #17 closed

[2019-02-21 02:45] potato4d commented on #4
Since https://ja.reactjs.org became available, I'll translate sequential navigation.

[2019-02-21 12:13] 8th713 opened #136 "broken heading IDs"
The headline display is broken at https://ja.reactjs.org/docs/hooks-overview.html

**Expected result:**
⚡️ 副作用フック (link to `#️effect-hook`)
✌️ フックのルール (link to `#️rules-of-hooks`)

**Actual result:**

⚡️ 副作用フック {#️effect-hook} (link to `#️-副作用フック-️effect-hook`)
✌️ フックのルール {#️rules-of-hooks} (link to `#️-フックのルール-️rules-of-hooks`)

[2019-02-22 07:45] #136 closed

[2019-02-23 02:57] potato4d opened #139 "Add textlint rule to detect bad chars"
ダメ文字「``」は人間ではチェックするのが難しいので、 TextLint 側で検出できるようにしておく

https://github.com/reactjs/ja.reactjs.org/pull/137

[2019-02-23 03:10] tesseralis opened #140 "Japanese Translation Final Tasks!"
お疲れ様でした！

You all are almost done translating the React docs into Japanese! There are couple more errands to do before we can mark the project as "completed"

* [x] Replace "reactjs.org" to "ja.reactjs.org" in the following places:
  * [x] package.json
  * [x] site-constants.js
  * [x] gatsby-config.js
  * [x] MarkdownPage (the link href in "Edit this page")
* [x] Change `html.js` to have the attr

[2019-02-23 03:12] potato4d commented on #140
@tesseralis

This is already done!
I will check it 😎

https://github.com/reactjs/ja.reactjs.org/pull/8/files#diff-58826c9c508b82875d8f9a9872d19e2dR10

[2019-02-23 03:15] tesseralis commented on #140
@potato4d cool! The only one that's left is the `MarkdownPage`.

[2019-02-24 01:56] potato4d commented on #140
@smikitky @koba04
DocSearch、ひとまず API キーとってしまいますが、もし API Limit などがきたらまた相談しましょう！

[2019-02-24 02:00] potato4d opened #145 "Translation misc"
### Tasks

- [ ] Search Docs Form
- [x] Next / Prev Article Links
- [x] トップページの Take the Tutorial のリンク
- [x] Footer

[2019-02-24 02:40] koba04 commented on #140
@potato4d ありがとうございます！！

[2019-02-27 05:43] smikitky commented on #3
いわゆる redux や Immutable.js 辺りのコンセプトを語る時の mutate / mutation / immutability などの訳はどうしましょうか。特にチュートリアル (#144) と Optimizing Performance (#122) に関連しています。（現時点のPRは統一されていません）

- mutation: 「破壊的変更」「ミューテート」「ミューテーション」「変更」
- mutate: 「破壊的変更(を行う)」「ミューテート(する)」「ミューテーション(する)」「変更する」
- immutability: 「不変性」「イミュータビリティ」「immutability」

私個人としては、これは該当記事を読んで理解する上でも React を使いこなす上でも他のオンライン記事を読む上でも、英単語レベルで知っておくべきキーワードなので、`破壊的変更 (m

[2019-02-27 15:49] tesseralis commented on #140
Stuff I found:

* A lot of the comments in source blocks are still in English. [for example, here](https://ja.reactjs.org/docs/state-and-lifecycle.html#do-not-modify-state-directly)
* The nav bar is still in English
* The section headers in the sidebar (Installation, Main Concepts, etc.) are in English

[2019-02-28 02:25] smikitky commented on #140
@tesseralis Many of them are intentional because most Japanese developers should understand simple words and phrases like "main concepts", "blogs" or "correct". Unlike some languages discussed in Slack, Japanese developers usually use English identifiers whenever possible. IMHO keeping some English words in navs and such is good for aesthetic purposes, too. Our current rule is not to touch code ex

[2019-02-28 16:13] smikitky commented on #3
チュートリアルの方は @koba04 さんに見ていただいた結果、mutate は「書き換え」という日本語から始めて、徐々に「ミューテート」にしていく感じになりました。

[2019-02-28 20:54] tesseralis commented on #140
@smikitky gotcha! we'll leave it as is then.

[2019-03-01 01:15] y-yeah commented on #4
Hey guys, mat I take `Implementation Notes`?

[2019-03-01 14:53] smikitky commented on #4
"Core Pages" の翻訳が終わりました！

[2019-03-02 00:30] tesseralis commented on #4
おめでとうございます！ 🎉

<img width="338" alt="screen shot 2019-03-01 at 4 29 45 pm" src="https://user-images.githubusercontent.com/1278991/53673921-4c2af280-3c3f-11e9-971a-af46b999650e.png">

[2019-03-04 12:11] s-pace commented on #140
👋 all,

Regarding the last TODO, here is the key to use:

[code]

Thank you @potato4d for applying for it :)

[2019-03-05 07:09] potato4d commented on #140
@s-pace
Thanks!

[2019-03-06 03:38] smikitky opened #163 "Use consistent case for Latin characters in headers/titles"
Currently, when article titles (rendered as `<h1>`) or headings (`<h2>` and so forth) include Latin characters, their cases are preserved or not preserved depending on the translators' preference (e.g., `Ref と DOM` vs `リストと key`). We have to come up with the common rule and fix the inconsistency.

----

もちろん "React" や "JavaScript" のような固有名詞は問答無用で先頭大文字でよいのですが、固有名詞とも言えないけどカタカナにするのも忍びない、"error boundar

[2019-03-07 08:51] potato4d commented on #140
@smikitky @koba04
一旦この issue は閉じてよさそうですかね

[2019-03-07 12:54] smikitky commented on #140
いいと思います

[2019-03-07 12:54] #140 closed

[2019-03-13 02:42] tesseralis opened #168 "Page title is still in English"
Not sure if this is also intentional, but the page title on my browser is still in English:

<img width="208" alt="Screen Shot 2019-03-12 at 7 41 42 PM" src="https://user-images.githubusercontent.com/1278991/54249852-ecfe9500-44fe-11e9-883f-4bbca93bb367.png">

[2019-03-13 06:33] smikitky commented on #168
Thank you, I'll fix that

[2019-03-18 14:07] #168 closed

[2019-03-20 02:14] smikitky commented on #4
@Naturalclar @y-yeah How is the progress? If you don't enough time, we can release the assignment and have others do the job.

[2019-03-20 03:34] #145 closed

[2019-03-20 06:36] #139 closed

[2019-03-20 08:20] y-yeah commented on #4
**Implementation notes** will be done this Friday. Sorry about taking a while!

[2019-03-22 01:53] y-yeah commented on #4
Finished translating **implmentation notes**!

[2019-03-22 03:23] Naturalclar commented on #4
Sorry for the delay! I'll work on it tonight (JST) :bow:

[2019-05-03 01:34] G-N555 commented on #4
Can I translate `external-resources`?
Is this required to do that?

[2019-05-06 02:07] potato4d commented on #4
@G-N555
Yes, please!

[2019-05-10 01:44] G-N555 commented on #4
I've done translation! Please check when you have time.
Btw, can I translate the rest of community after that?

[2019-05-13 08:59] YIPG opened #194 "日本語切り替えを押すとトップページに飛ばされる"
現状、言語切替を押すとトップページに飛ばされるので、項目を探し直さなければならず二度手間です。

[2019-05-13 09:16] potato4d commented on #194
https://ja.reactjs.org/languages は別ページなので、前のページを探す。みたいなストーリーは実現しづらそうです。ドロップダウンになっていれば別ではあるのですが。

日本語ドキュメントでは基本的に翻訳以外は本家に追従しておきたいので、もし必要であれば本家( https://github.com/reactjs/reactjs.org ) に Issue を作成いただけますか？

[2019-05-13 21:23] smikitky commented on #194
こちらは確かにそういう機能が欲しいのですが、本家 reactjs.org のリポジトリで対応しないといけない案件です（日本語版でだけこのUIに独自パッチ当てたとしても、日本語**から**他の言語に飛ぶ時にしか機能しません…）。

https://github.com/reactjs/reactjs.org/issues/1772

こちらで既にIssueが上がっていましたので、とりあえず :+1: してあげてください。

[2019-05-13 21:23] #194 closed

[2019-05-14 10:01] smikitky commented on #194
MDNやWikipediaがそうなっていますが、普通はそれぞれの記事について、翻訳が存在する言語のみがドロップダウンには現れるものです。が、reactjs.orgの場合、そもそもどの言語でどの記事が翻訳済みなのかどうかを中央管理しているデータがないので、これが実現しづらそうです。

「ドロップダウンを押して言語を切り替えたつもりがやっぱり英語のページが表示されて残念or混乱」みたいなことにならないためにはどうしたらいいんでしょう。

@potato4d Vue.js側でどうなっているかご存知ですか？　ぱっと見た感じ、今は全言語で全文が翻訳済みだから問題なさそうですが、以前は、例えば「中文」をクリックしたのにリンク先がまだ英語、みたいな事態は存在したのでしょうか。

[2019-05-14 10:05] potato4d commented on #194
@smikity
Vue.js のドキュメントは基本的にはコミュニティに決定が委ねられていますが、日本語の場合をご紹介します。

まず英文を全部コピーしてくる。その上で冒頭に「Under construction」の文字とともに、「翻訳中であるため一部英語である」旨を付け加えます。

この段階では、日本語にアクセスしても上記と英文が表示されます。

その後、長いページであればセクションごと、通常のページであればページごとに PR が送られ、翻訳できた時点で冒頭のコメントを削除します。

できる範囲のコンテンツは最大限見てもらうため、この状態を許容して進めています。

[2019-08-27 09:36] taneba commented on #4
@tesseralis
How about TESTING?
Can I please start translating "testing"?

[2019-08-27 15:16] smikitky commented on #4
@taneba Thank you, please proceed with them.

(tesseralisさんは全言語の統括なので日本語の記事についてはメンテナにお願いします)

[2019-08-28 02:24] taneba commented on #4
@smikitky Thanks, I want to begin with [https://reactjs.org/docs/testing.html](https://reactjs.org/docs/testing.html). If nobody take the rest of it until I finish it, I will take some more.

なるほどです、承知しました！

[2019-10-01 05:42] potato4d opened #249 "translate: Context.displayName の翻訳"
新規翻訳の `Context.displayName` の翻訳者を募集しています。

対象: https://github.com/reactjs/ja.reactjs.org/blob/master/content/docs/context.md#contextdisplayname-contextdisplayname

[2019-10-01 05:43] potato4d opened #250 "translate: Feature Flags の翻訳"
新規翻訳対象の Feature Flags の翻訳者を募集しています。

対象: https://github.com/reactjs/ja.reactjs.org/blob/master/content/docs/how-to-contribute.md#feature-flags-feature-flags

[2019-10-01 05:44] potato4d opened #251 "translate: If a Minor Release Includes No New Features, Why Isn't It a Patch? の翻訳"
新規翻訳対象の If a Minor Release Includes No New Features, Why Isn't It a Patch? の翻訳者を募集しています。

対象: https://github.com/reactjs/ja.reactjs.org/blob/master/content/docs/faq-versioning.md#if-a-minor-release-includes-no-new-features-why-isnt-it-a-patch-minors-versus-patches

[2019-10-01 05:44] #61 closed

[2019-10-01 05:44] #95 closed

[2019-10-02 02:08] #249 closed

[2019-10-06 07:00] #250 closed

[2019-10-06 07:13] potato4d commented on #4
I'll start translating `Components`.

[2019-10-06 07:56] #251 closed

[2019-10-10 02:42] #3 closed

[2019-10-17 04:12] potato4d opened #259 "jp.vuejs.org の che-tsumi を運用したい"
## About

React の Translation Bot のカスタマイズ、つらいことのほうが多いので、 Vue.js JP で使っているオリジナルの che-tsumi を運用できればと考えています。

Translation Bot との優位性は https://github.com/vuejs/jp.vuejs.org/issues のように Issue を積み上げてくれること、 PR が小粒であることです。

@smikitky @koba04
一旦こちら導入し直して、 Translation Bot は停止してもらったほうがメンテナンス面で優位かと思います。いかがでしょうか？

## Refs

- https://github.com/vuejs-jp/che-tsumi
- https://github.com/vuejs/jp.vuejs.org/issues

[2019-10-22 06:29] koba04 commented on #259
@potato4d
React Transition Botとche-tsumiの違いをちゃんと把握できて出来ていないのですが、
PRが小粒になることでConflictの対応が減る感じでしょうか？
（あとはConflictしなかった場合にもPRが作成される？）

Conflictした場合の対応フローは下記のようなイメージでしょうか？
- 対象のcommitを手動でcherry-pickする
- conflictを解消する
- PR作る

自分の方でSync PRの対応が出来ていないので、お二人がOKであれば異論ありません。

[2019-10-22 16:21] smikitky commented on #259
今のbotのことしか知らない身としては、今の感じであれば現状のbotで大して問題には感じていないし、本家側で決めた仕組みを逸脱するのも不安…というのが正直なところではあります。

確か真意としては「小粒なPRであれば我々3人以外の貢献者を得やすい」という話だったと思うのですが、現状ではただ単にPRを小粒にしただけで自動的に貢献者が増えるというほどでもないように感じます（案内不足のせいでもありますが）。

botを入れ替えることで積極的に関わってくれる人が具体的にいるなら…という感じです。

[2019-10-23 03:02] potato4d commented on #259
@koba04
はい、そういう意図です。
また、大きなメリットとして、 **PR へのコミットではなく Issue が積み重なっていることによって誰でもドキュメント貢献に参入できる** というメリットがあります。

現状、巨大な Pull Request に対しての直接コミットが中心となっており、現実として外部の有志が協力できない状況になっていると思います。

なので、それを解消したいというのが意図となります。

@smikitky

そうはいっても現状のメンテナ体制で回っていないという事実があると思っています。並行での試験運用でも良いので初めてみて、それから結果に応じてどうにかするというのは改善の第一歩として立とうかと考えていますが、いかがでしょうか？

[2019-10-23 03:05] potato4d commented on #259
あと対案としては、期待したいのは「やるべきタスクが一覧化されていて、その上ですぐに着手できる体制を構築する」なので、本家のやり方を維持しつつ、例えばWebHookや GitHub Actions で react-translation-bot の作った PR について変化を取り込むとかもありかもしれないですね。

[2019-10-24 02:49] smikitky commented on #259
che-tsumi式の jp.vuejs.org だと、git log上に本家コミットのどこまでがマージ済みなのかが管理されていないように思えるのですが、この認識で正しいですか？

[Vue側の翻訳者ガイド](https://github.com/vuejs/jp.vuejs.org/blob/lang-ja/CONTRIBUTING.md)や[このPR](https://github.com/vuejs/jp.vuejs.org/pull/1863)などを見る限り、コンフリクトがあったら本家の変更を目で見て、手でそれに対応する日本語のコミットを作って、手でPRを作る（cherry-pick的なことはしない）ということになっているように見えます。この違いは重要で、いったん今のbotを止めてche-tsumiベースに移行してしまったら、あとで思い直しても今の方式に戻ることは非常に困難なように

[2019-11-22 03:04] smikitky opened #274 "Concurrent Mode translation progress"
Concurrent Mode 絡みの翻訳のトラッカーです。 #4 と同様に運用します。作業の重複を避けるために翻訳前にこちらのコメントで宣言をお願いします。

- [x] 👀 Introducing Concurrent Mode @smikitky #276
- [x] 👀 Suspense for Data Fetching @smikitky #278
- [x] 👀 Concurrent UI Patterns @smikitky #279
- [x] 👀 Adopting Concurrent Mode @smikitky #281
- [x] 👀 Concurrent Mode API Reference @smikitky #282

🏃: 作業中; 👀: レビュー中

[2019-11-22 03:05] smikitky commented on #4
こちらは #262 がマージされしだい close します。Concurrent Mode に関係する翻訳は #274 でお願いします。

[2019-11-22 03:06] smikitky commented on #274
とりあえず Introduction と Suspence for Data Fetching について自分でやります

[2019-11-22 03:38] smikitky opened #275 "Translate Release Channels"
Original: https://reactjs.org/docs/release-channels.html

[2019-11-26 07:09] smikitky commented on #274
Concurrent UI Patterns について作業を進めていきます

[2019-11-27 11:52] smikitky commented on #274
Adopting Concurrent Mode をやります

[2019-12-26 08:19] numb86 commented on #275
やりたいです。
アサインしてもらった後に作業してPRを出せばよいでしょうか？

[2019-12-26 10:05] smikitky commented on #275
はい、助かります。よろしくお願いします。
PRをいただければレビュー→マージ、という流れになります。

別の記事との兼ね合いがあるため experimental build は「実験的ビルド」でお願いします。
他のルールは TRANSLATION.md を参照ください。

[2019-12-26 11:47] numb86 commented on #275
ありがとうございます。

早速ですが、相談があります。

現在、textlint で「箇条書きの文末に句点(。)を付けるかを統一します。」というルールが有効になっています。
原文に沿って翻訳すると、15行目から始まるリストと52行目から始まるリストが、このルールに引っ掛かってしまいます。
前者は`**`で終わる行があるため、後者はリストのなかでコードブロックを使っているため、です。

このエラーを回避しようとすると、「textlint のエラーを回避するために原文との乖離が大きくなる」という状況が発生してしまいます。
特に52行目から始まるリストの場合、「リストのなかにコードブロックがある」という文書構造自体を変えることになります。

これは望ましくないように思えるので、部分的に textlint のルールを無視できるようにするために [textlint-filter-rule-comme

[2019-12-26 14:52] smikitky commented on #275
@numb86 そのルールはしょっちゅう間違ったエラーを出してくるので、個人的にはルールごと無効化してもいいのかなと思います。もしよければ、対応するルールを無効化するPRを先に出していただければ…

[2019-12-29 06:35] #274 closed

[2019-12-29 23:00] smikitky commented on #275
#293 で完了

[2019-12-29 23:00] #275 closed

[2020-01-01 13:44] #4 closed

[2020-05-04 19:12] smikitky opened #330 "Translation bot seems to have stopped working"
4/27 と 5/4 に bot による自動 PR 作成が起きませんでした。とりあえず tesseralis 氏に問い合わせ中です。

ソースはあるので最悪自前で GitHub Actions とかでスクリプトを動かすことも出来そうですけど、まあそこまでしないで済むといいなと…

[2020-05-12 04:52] smikitky commented on #330
単に本家の更新がなかったからのようです

[2020-05-12 04:52] #330 closed

[2020-08-11 05:54] smikitky opened #348 "v17 RCブログ翻訳"
すでに大部分終えましたので次のbotに合わせてPR出します。（他の人が翻訳作業を始めないで済むようこのissueで宣言だけしておきます）

[2020-08-26 10:40] smikitky commented on #348
#349 で終了

[2020-08-26 10:40] #348 closed

[2020-12-25 08:37] kobaji opened #376 "散見される`。（`の修正をしてもよいでしょうか。"
初投稿です。Reactの勉強をしていて読みづらい箇所を見つけ、以下を修正したいです。

https://github.com/reactjs/ja.reactjs.org/blob/master/content/home/examples/a-stateful-component.md#7 などで、不適切な`。（`の使われ方をしているように見えます。

これは、「できます（これは `this.state` で参照することができます）。状態」が適切だと思われます(事実英語では`xxx(xxx).xxx`なっています)。これを修正したいですがよろしいでしょうか。<br>

masterブランチに対して`。（`でGREPすると35件ヒットし、そのうちのいくつかは同様に修正したいですがいかがでしょうか。

[2020-12-28 08:41] smikitky commented on #376
うろ覚えなのですが、日本語のミスを減らすために導入したはずの textlint のJTFプラグインの過剰検出のため、仕方なくこうなっていたような気がします。

`git commit .`しようとすると自動で textlint が走ってエラーが出るはずですので、試しに1カ所修正してコミットしてみて普通にコミット可能かどうか確認していただいても良いでしょうか。以下のファイルが設定なので、そこで単純に検出オプションを1個無効にする程度で済めばそのようにするのが良いと思います。

https://github.com/reactjs/ja.reactjs.org/blob/master/.textlintrc

[2020-12-29 07:00] kobaji commented on #376
ご連絡ありがとうございます。年が明けたらトライしてみます。

[2021-01-11 09:55] kobaji commented on #376
@smikitky さんの予想とは異なり、`git commit`してもエラーが起こりませんでした。このまま全箇所について修正をかけてもよろしいでしょうか。

詳細：
https://github.com/kobaji/ja.reactjs.org/commit/31a91ec9d70ec40bfbae00648fa5b39e6c8bbe60
.textlintrc を変更せず、`（）。`の使い方を1ヶ所修正してみました。特にエラーは出ていないようですね。
yarnのテストも行なってみようと思いましたが、ネットワークの都合でYarnのインストールができずテストできていません。

[2021-01-11 12:38] smikitky commented on #376
はい、では修正していただいて大丈夫です。お手数をおかけします。

[2021-02-05 23:54] mendelssohnbach opened #384 "ReactDOM.render() と ReactDOM.hydrate() の扱い"
Reactの学習を始めたばかりの初心者です。

Reactが「既存のプロジェクトに徐々に追加可能」であることは読みました。

[Hello World](https://ja.reactjs.org/docs/hello-world.html)

`ReactDOM.render` が使われています。解説の通りの結果を得ました。

しかし、[リファレンス](https://ja.reactjs.org/docs/react-dom.html#reference) の補足に

とあります。

多くの初心者が公式サイトで学ぶと考えます。

[Hello World](https://ja.reactjs.org/docs/hello-world.html) から [リファレンス](https://ja.reactjs.org/docs/react-dom.html#reference) へリン

[2021-02-09 05:02] smikitky commented on #384
そのリファレンスで言及されているのは、サーバサイドレンダリング (SSR) というテクニックの話です。`ReactDOM.render()` 自体が使えなくなるという話ではありません。

SSR自体がやや上級者向けの話であり、少なくとも Hello World で触れるようなものではありません。SSR を使わずにブラウザで動くアプリを書く場合、`ReactDOM.render()` を使い続けて全く問題ありません。

（まあ、将来的に並列モードがデフォルトになると書き方がまた微妙に[変わる](https://ja.reactjs.org/docs/concurrent-mode-adoption.html#migration-step-blocking-mode)のですが…）

[2021-02-09 05:02] #384 closed

[2021-02-09 05:08] mendelssohnbach commented on #384
お忙しい中、回答ありがとうございます。

わかりました。
いただいたリンクを読んで未来に備えておきます。

2021年2月9日(火) 14:03 Soichiro Miki <notifications@github.com>:

[2021-02-16 15:16] #376 closed

[2021-06-30 01:16] smikitky opened #422 "並列 vs 並行 for "concurrency""
以前 Twitter か何かで「concurrent modeは『並列モード』ではなく『並行モード』が正しい」みたいな指摘を見たことがあり、当時はあまり気に留めていなかったのですが、ふと違いがあるのか気になって調べてみたところ、どうも確かに「並行」の方が正しいのではという気がしてきました。

Wikipedia を見た限り、両者は学術的に違う概念であり、以下のように区別されると理解しました。

- [並列](https://ja.wikipedia.org/wiki/%E4%B8%A6%E5%88%97%E8%A8%88%E7%AE%97) = parallel = 複数のプロセッサで大きなタスクを分散処理して処理時間を短縮すること。みんなで手分けして作業すればつらい仕事も早く終わる、的なこと。
- [並行](https://ja.wikipedia.org/wiki/%E4%B8%A6%

[2021-07-01 15:35] koba04 commented on #422
👍 いいと思います！確かに React のやっていることを考えても並行ですね。（日本語での違いをあまり意識してませんでした...）

[2021-07-15 13:44] koba04 commented on #422
@smikitky  こちらは #423 で close されたということで大丈夫でしょうか？

[2021-07-15 16:43] smikitky commented on #422
はい、大丈夫です

[2021-07-15 16:43] #422 closed

[2021-07-22 07:43] uc4w6c opened #427 "tutorialの"ボールド"という表現が分かりにくく感じました"
tutorialの[まとめ](https://ja.reactjs.org/tutorial/tutorial.html#wrapping-up)に記載されている以下ボールドが分かりにくく感じました。

ボールドから太字に変更してもよろしいでしょうか。

[2021-07-26 00:51] #427 closed

[2021-12-01 16:36] no-yan opened #452 "New Translation Progress Checklist"
# ページを翻訳したい方へ：
重複作業を防ぐため、まずはここでどのページを翻訳するか宣言してください。宣言なしで翻訳が行われて他の人の作業と被ってしまった場合、**原則として（PRを先に作った人ではなく）ここで最初に宣言があった人を優先します**。ただし宣言が行われて 1 週間以上 PR が作成されないなどの場合は適宜対応します。

[スタイルガイド](https://github.com/reactjs/ja.react.dev/wiki/%E7%BF%BB%E8%A8%B3%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB%E3%82%AC%E3%82%A4%E3%83%89)および[単語リスト](https://github.com/reactjs/ja.reactjs.org/wiki/%E8%A8%B3%E8%AA%9E%E3%81%AE%E7%B5%B1%

[2021-12-01 16:54] noyanyan commented on #452
進捗管理用のissueが閉じられていたので、新規issueを開きました。気軽に閉じてください。

この形式でやる場合の懸念点として、Statusの更新が面倒になる可能性があります。どれが更新かわかるようにupstream側で配慮があればよいですが、そうでない場合は頑張って40近いリストから差分を見つける必要がありそうです。

[2021-12-01 17:19] smikitky commented on #452
既に[ちょっと手を付けてはいる](https://github.com/reactjs/ja.reactjs.org/pull/451)のですが、まだブランチプレビューがセットアップされておらず、textlint も動いておらず、本家の方でも認識していなかった[細々とした問題が見つかったり](https://github.com/reactjs/reactjs.org/issues/4135#issuecomment-983299336)…という状況ですので、ひとまずワークフローを確立するのが先決という状況です。

これで大丈夫そうというところで以前のように翻訳者を募集することになると思いますので、しばらくお待ちください。

[2021-12-01 17:38] smikitky opened #453 "Establish beta translation workflow"
Now that the main contents of [New React Docs](https://beta.reactjs.org/) are mostly stable, translators can start translating many articles. There are a few tasks to complete before we can start a full-scale translation work.

- [x] #580
- [x] #581
- [x] Recheck glossary
- [x] Make translation progress list: #452
- [x] Merge reactjs/reactjs.org#4139 (this affects translation workflow)

Not urgent

[2021-12-22 00:24] smikitky commented on #453
12/22現在、以下の2点が未解決です

- **PRを作成するとあらゆるCIこける**: 原因をつきとめたので upstream で修正済み、こちらへの取り込み待ち (reactjs/reactjs.org#4192)
- **textlint のセットアップ**: サブディレクトリに husky で pre-commit フックをセットアップした時に何らかの環境依存でエラーが起こっており、それの修正が必要

これらが解決したら本格的に全記事の翻訳にとりかかっていいかなと思います

[2022-03-24 09:35] pasteisdenata commented on #452
こんにちは。技術翻訳をしている者です。オープンソースのプロジェクトに関わった経験はないのですが、是非お手伝いしたく、よろしくお願いします。既にフォークは作成済みです。どのセクションの翻訳から開始すればよいですか。

[2022-03-28 08:40] no-yan commented on #452
（メンテナの方々からお返事がないようなので）
ありがとうございます！技術翻訳をされている方ということで心強いです。
"Escape Hatches" 以外のまだ訳されていないセクションを自由に訳していただければと思います。

用語が合っているか既存の訳と照らし合わせたいようなら "Installation" から、そうでなければ "Adding Interactivity", "Managing State", "Quick Start" のいずれかを選んで頂くと良いと思います！

上のチェックリストも更新しておきます。

[2022-03-28 08:53] no-yan commented on #452
場合によっては、React 18用の大規模なドキュメント更新がこちらより優先されるかもしれません。
以下のドラフトがマージされて以降になりますが、そちらもご助力いただければ！
https://github.com/reactjs/reactjs.org/pull/4499

[2022-03-31 04:06] smikitky commented on #452
@pasteisdenata @no-yan すみません気付いていませんでした…。

React 18 用の大規模マージについては認識はしています。これはむしろ私（メンテナ）の方でやります（影響範囲大きそうすぎるので逆に自分で確認しながら進めたい）。

ベータドキュメントについても、現時点ではワークフローの準備が整っていないため大々的に進めていない状態です。ただ上記に書いてある技術的問題は概ね解決しそうですので、これから改めて進めていきたいと思っています。ひとまず上記でチェックのついていないものならどれからやっていただいても大丈夫ですが、重複作業を防ぐため、このページで着手するという宣言だけしてください。

なお、本家の方でも新ドキュメントの作業が結構遅れており[こんなこと](https://github.com/reactjs/reactjs.org/issues/3308#issuec

[2022-04-04 10:36] pasteisdenata commented on #452
@smikitky @no-yan  レスポンスが遅れてしまい申し訳ありません。では、Adding Interactivity から開始しますね。取り急ぎ。

[2022-04-13 01:02] smikitky opened #493 "CircleCI を CI から削除"
1 月以降 CircleCI は使わなくなったようで、これが現在出ているビルドエラーの原因です。

https://github.com/reactjs/reactjs.org/commit/9ff30d6a58d0a78a74e7813699b910d9669ea520
https://github.com/reactjs/reactjs.org/pull/4236

なんか管理画面にはログインできて "Stop Building" という赤いボタンが押せそうな状況ではあるのですが、やって大丈夫ですか？（CircleCI 使ったことないです）

[2022-04-17 10:32] pasteisdenata commented on #452
@smikitky Responding to Events の翻訳を始めます。

[2022-04-18 05:55] smikitky commented on #493
リポジトリ設定のブランチルールのところに CircleCI のチェックを強制する設定があり、それを無効化するのに手間取りましたが、これで大丈夫そうです

https://circleci.com/docs/ja/2.0/enable-checks/#%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%81%AE-github-checks-%E3%82%92%E7%84%A1%E5%8A%B9%E5%8C%96%E3%81%99%E3%82%8B%E6%96%B9%E6%B3%95

[2022-04-18 05:55] #493 closed

[2022-04-26 08:48] durgasatti commented on #163
please translate into English then I can make a review on your error
thank you